@import url("core.css");

.button {
    -fx-background-color: -fx-offset;
    -fx-text-fill: -fx-white;
    -fx-font-weight: bolder;
    -fx-background-radius: 15px;
}

.button:hover {
    -fx-background-color: -fx-offset-darker;
    -fx-text-fill: -fx-white;
    -fx-font-weight: bolder;
    -fx-border-style: none;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
}

.button-offset {
    -fx-background-color: none;
    -fx-border-color: -fx-offset;
    -fx-border-radius: 15px;
    -fx-text-fill: -fx-offset;
    -fx-font-weight: bolder;
    -fx-background-radius: 15px;
}

.button-offset:hover {
    -fx-background-color: -fx-offset-darker;
    -fx-border-color: -fx-offset-darker;
    -fx-border-radius: 15px;
    -fx-text-fill: -fx-white;
    -fx-cursor: hand;
    -fx-font-weight: bolder;
    -fx-background-radius: 15px;
}

.button-offset-white {
    -fx-text-fill: -fx-offset;
    -fx-background-color: -fx-white;
    -fx-border-color: -fx-white;
    -fx-border-radius: 15px;
    -fx-font-weight: bolder;
    -fx-background-radius: 15px;
}

.button-offset-white:hover {
    -fx-text-fill: -fx-white;
    -fx-background-color: -fx-offset-darker;
    -fx-border-color: -fx-offset-darker;
    -fx-border-radius: 15px;
    -fx-font-weight: bolder;
    -fx-cursor: hand;
    -fx-background-radius: 15px;
}

.tool-bar {
    -fx-background-color: transparent;
}

.button-on {
    -fx-text-fill: white;
    -fx-background-color: -fx-analogous;
}

.button-off {
    -fx-text-fill: white;
    -fx-background-color: -fx-primary;
}

.button-ok {
    -fx-text-fill: white;
    -fx-background-color: -fx-primary;
}

