* {
    -fx-primary: #DB2B39;
    -fx-offset: #29335C;
    -fx-offset-darker: #0d101d;
    -fx-offset-lighter: #5C668F;
    -fx-contrast: #969A97;
    -fx-black: #333333;
    -fx-white: #DDDDDD;
    -fx-light: #D3D3D3;
    -fx-analogous: #295c52;
}

