@import url("core.css");

.body {
    -fx-background-color: -fx-offset;
}

.sidebar {
    -fx-background-color: -fx-primary;
    -fx-background-radius: 15px;
}

.sidebar-title {
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-weight: bolder;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-font-weight: bolder;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.sidebar-button:hover {
    -fx-background-color: white;
    -fx-text-fill: -fx-primary;
    -fx-background-radius: 15px;
    -fx-font-weight: bolder;
    -fx-font-size: 15px;
    -fx-cursor: hand;
}

.sidebar-button:selected {
    -fx-background-color: white;
    -fx-text-fill: -fx-primary;
    -fx-background-radius: 15px;
    -fx-font-weight: bolder;
    -fx-font-size: 15px;
}