@import url("core.css");
@import url("button.css");
@import url("table.css");

.separator {
    -fx-padding: 1;
    -fx-background-color: -fx-offset;

}

.separator .line {
    -fx-background-color: -fx-offset;
    -fx-pref-height: 5;
    -fx-border-color: none;
}