@import url("core.css");

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .column-header {
    -fx-background-color: white;
    -fx-border-style: none;
}

.table-view .column-header .label {
    -fx-font-weight: bolder;
    -fx-font-size: 1.2em;
    -fx-text-fill: -fx-primary;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: none;
    -fx-border-color: -fx-offset;
    -fx-border-width: 0 0 1 0;
    -fx-table-cell-border-color: transparent;
    -fx-cell-size: 50px;
}

.table-row-cell:hover {
    -fx-cursor: hand;
}

.table-row-cell:selected {
    -fx-background-color: -fx-offset;
    -fx-text-fill: -fx-primary;
}

.table-column {
    -fx-alignment: center;
}