@import url("table.css");
@import url("button.css");

.body {
    -fx-background-color: -fx-offset;
}

.card-pane {
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.card-header {
    -fx-text-fill: -fx-primary;
}

.card-content {
    -fx-text-fill: -fx-primary;
    -fx-font-weight: bolder;
    -fx-font-size: 15px;
}

.control-pane {
    -fx-background-color: white;
    -fx-background-radius: 15;
}


.list-pane {
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.list-pane-header {
    -fx-text-fill: -fx-primary;
    -fx-font-weight: bolder;
    -fx-font-size: 1.5em;
}

